<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Healthy Food Inventory</title>

  <link type="text/css" rel="stylesheet" href="../public/css/style.css" />
</head>

<body style="background-color: rgb(170, 191, 253);">
  <header id="main-header" class="bg-black text-white p-4 mb-3">
    <center>
      <h1 id="header-title">Healthy Food Inventory Management System</h1>
    </center>
  </header>

  <div class="container">
    <main>
      <h2 class="title">
        This project was a collaborative efforts of:
      </h2>
      <u1 class="lsit-group">
        <li class="list-group-item">


          <h4>Ayhem Hanna-Kachl, Alex Verhulst, Tyler Rossi, and Shubham KC</h4>

        </li>
      </u1>
    </main>

    </ul>
    </main>
  </div>

  <br />

  <div class="container">
    <h3>New Data, Let's Create It [CREATE]</h3>
    <h4>Creating New Food Departments</h4>
    <div id="main" class="card card-body">
      <form class="form-inline mb-3" action="/insertdepartments/" method="post" id="CRUDcreate">
        <b>
          <label for="departmentID"> Department ID: </label>
        </b>
        <input type="number" name="departmentID" placeholder="Enter The Department ID" size="200" required
          autocomplete="off" class="form-control mr-2" />
        <br />
        <b>
          <label for="departmentName">Department Name: </label>
        </b>
        <input type="text" name="departmentName" placeholder="Enter The Department Name" size="200" required
          autocomplete="off" class="form-control mr-2" />
        <br />
        <input type="submit" value="SUBMIT" class="btn btn-dark"
          style="background-color:red;color:white;width:90px;height:40px;" />
        <input type="reset" value="RESET" class="btn btn-dark"
          style="background-color:red;color:white;width:90px;height:40px;" />
      </form>
    </div>
  </div>
 

  <div class="container">
    <h3>Looking for something? Search it up! [READ]</h3>
    <h4>Read Data from The Database</h4>
    <div id="main" class="card card-body">
      <form 
        class="form-inline mb-3"
        action="/readdepartment" 
        method="get" 
        id="CRUDread"
        >
       
        <b>
          <label for="departmentID">Press <b>"Submit"</b> for Different Departments:</label>
        </b>
        <br>
        <input type="submit" value="SUBMIT" class="btn btn-dark"
          style="background-color:red;color:white;width:230px;height:40px;" />
        </br>

        <br></bv> 
         
      </form>
    </div>
  </div>

  <div class="container">
    <h3>Something off? Fix it here! [UPDATE]</h3>
    <h4>Updating Information</h4>
    <div id="main" class="card card-body">
      <form action="/updatedepartment" method="post" id="CRUDupdate" class="crud">
        <b>
          <label for="departmentID">Search By Department ID: </label>
        </b>
        <input type="text" name="departmentID" placeholder="Enter Department ID" size="200" required autocomplete="off"
          class="form-control mr-2" />
        <br />
        <b>
          <label for="DepartmentNewName">Enter New Department Name: </label>
        </b>
        <input type="text" name="DepartmentNewName" placeholder="Enter New Department Name" size="200" required
          autocomplete="off" class="form-control mr-2" />
        <br />
        <input type="submit" value="SUBMIT" class="btn btn-dark"
          style="background-color:red;color:white;width:230px;height:40px;" />
        <input type="reset" value="RESET" class="btn btn-dark"
          style="background-color:red;color:white;width:230px;height:40px;" />
      </form>
    </div>
  </div>
 
  <div class="container">
    <h3>No longer exists. Delete it! [DELETE]</h3>
    <h4>Deleting a Department</h4>
    <div id="main" class="card card-body">
      <form action="/deletedepartment" method="post" id="CRUDdelete" class="form-inline mb-3">
        <b>
          <label for="departmentName">Confirm Department Name For deletion: </label>
        </b>
        <input type="text" name="departmentName" placeholder="Enter The Department Name" size="200" required
          autocomplete="off" class="form-control mr-2" />
        <br />
        <input type="submit" value="SUBMIT" class="btn btn-dark"
          style="background-color:red;color:white;width:230px;height:40px;" />
        <input type="reset" value="RESET" class="btn btn-dark"
          style="background-color:red;color:white;width:230px;height:40px;" />
      </form>
    </div>
  </div>
</body>

</html>